extends layout

block content
  h1(class="text-2xl")= title

  if message 
    h1= message

  if !user 
    form(method='POST' action='')
      div.form-group
        label(for='username') Username: 
        input#username.form-control(type='text' placeholder='a@gmail.com' name='username' )

        label(for='password') Password: 
        input#password.form-control(type='text' placeholder='password' name='password' )

      button.btn.btn-primary(type='submit') Submit
  else
    p Recent messages

    a(href='/logout') Log out 

    a(href='/create-post') Create post 
