@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply max-w-full p-1
    /* min-h-full; */;
  }
  /* body {
    background-color: var(--cust-bg-blue);
    color: var(--cust-black-text); */
  /* } */
  #root {
    display: flex;
    justify-content: center;
  }
  a {
    @apply text-blue-600 hover:text-blue-800;
  }
}
